.Weather .city-card {
  max-width: 400px;
  padding-top: 7px;
}

.Weather .card-body {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.Weather .temperature-block {
  display: block;
  margin: 0 auto;
}

.Weather #weather-condition {
  font-size: 17px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  color: #b3b3b3;
}

.Weather #main-temperature {
  font-size: 60px;
  padding-bottom: 1px;
  color: black;
}

.Weather .map-card {
  margin-right: -2px;
}

.Weather .city-card {
  margin-left: -2px;
}

.Weather .days-card {
  display: block;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.Weather div.wrap-date {
  margin-bottom: 13.5px;
}

.WeatherInfo #main-temperature {
  font-size: 60px;
  padding-bottom: 1px;
  color: black;
}

.Weather #city-input-form {
  margin-top: 9px;
}

#celsius-link {
  text-decoration: none;
  font-size: 20px;
  position: relative;
  top: -27px;
}

#entered-location {
  text-transform: capitalize;
}

#icon {
  padding-right: 25px;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.Weather .map-block {
  max-width: 325px;
}

.Weather #city-input {
  width: 250px;
}

.Weather #city-input-button {
  margin-left: 20px;
}

.Weather #city-input-form {
  max-width: 350px;
}
